<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>last updated - Mon Mar 07 11:26:48 MSK 2011</comment>
<entry key="UIN">621771793</entry>
<entry key="Password">0okmnji9</entry>
<entry key="UseProxy">false</entry>
<entry key="ProxyPort">5555</entry>
<entry key="Proxy">127.0.0.1</entry>
</properties>
